.bg{
    background-image: url("../img/bg-2.jpg");
    height: 91%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html{
    height: 100%;
}

main {
    max-height: 629px;
    overflow: auto;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #000000b3;
    color: white;
}

.sidebar {
    position: fixed;
    height: 100%;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)
}
.header-color {

    background: rgba(248,80,50,1);
    background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(133,46,31,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(100%, rgba(133,46,31,1)));
    background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(133,46,31,1) 100%);
    background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(133,46,31,1) 100%);
    background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(133,46,31,1) 100%);
    background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(133,46,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#852e1f', GradientType=0 );
    -webkit-box-shadow: -2px 5px 34px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 5px 34px -12px rgba(0,0,0,0.75);
    box-shadow: -2px 5px 34px -12px rgba(0,0,0,0.75);
    
}

.sectionLogin{
    background-color: #16195c26;
    color: #16195c;
}

.inputLogin {
    background: transparent;
    border: none;
    border-bottom: 1px solid #16195c;
    font-size: 1.1rem;
    color: black;
}

.padding-top{
    padding-top: 40px;
}
.padding-bottom{
    padding-bottom: 40px;
}

.inputLogin::placeholder { color: #16195c; }


/* spinner */
.spinner,.spinner:after{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
 }

 .spin {
    display: none;
 }

 .filtroBusqueda {
    background-color: #fafafa;
 }

.spinner {
    background-color: transparent;
    border-top: 5px solid rgb(66,139,202);
    border-right: 5px solid rgb(66,139,202);
    border-bottom: 5px solid rgb(66,139,202);
    border-left: 5px solid rgba(66,139,202,.2);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-name: spinner-loading
 }
@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
  
}

.shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition:all .18s ease-in-out;
}

.table thead {
    background-color: #16195c; 
    color: white;    
}

.table {
    box-shadow: inset 0 0 10px #BEBEBE;;
}


.progressbar {
    counter-reset: step;

}
.progressbar li {
    list-style: none;
    float: right;
    width: 17%;
    position: relative;
    text-align: center;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}

ul.nav li {
    width: 100%;    
}
.inactive-sidebar {
    color: white;
    border-bottom: 1px solid #343333;    
    background-color: #494848;
    padding-top: 15px;
    padding-bottom: 15px;

}

ul.nav li  :hover {    
    color: white;
    transition-duration: 400ms;
    background-color: #9d9d9d;      
}

.active-sidebar {
    color: white;    
    background-color: #9d9d9d;  
    -webkit-box-shadow: -2px 5px 39px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 5px 39px -9px rgba(0,0,0,0.75);
box-shadow: -2px 5px 39px -9px rgba(0,0,0,0.75); 
}

#titulo_encuesta {
    font-size: 3rem;
    width: 100%;
    border: 0px;
    border-bottom: 2px solid silver;
    color: #494848;
    border-radius: 10px;
}

#ver_titulo_encuesta {
    font-size: 3rem;
    width: 100%;
    border: 0px;
    border-bottom: 2px solid silver;
    color: #646464;
}

.titulo-naturaleza {
    font-size: 2rem;
    width: 100%;
    border: 0px;
    border-bottom: 2px solid silver;
    color: #646464;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* bar rating */
.br-theme-bars-reversed .br-widget a {
    background-color: pink;
  }
  
  .br-theme-bars-reversed .br-widget a.br-active,
  .br-theme-bars-reversed .br-widget a.br-selected {
    background-color: #ff446a;
  }
  
  .br-theme-bars-reversed .br-widget .br-current-rating {
    color: #ff446a;
    font-size: 20px;  
  }

.portada-izq {
    background-color: #d1cdcd;
    height: 100%;
}

.portada-der {
    background-color: #c36262;
    height: 600px;
    /* margin: 10px 10px */
}
.portada-der-linea {
    background-color: #c36262;
    height: 50px;
}

.portada-der-bottom {
    background-color: #d1cdcd;
    height: 280px;
}

.imagen_portada {
    margin: auto;
    position: relative;
    left: 12%;
    top: 89px;
    width: 80%;
}

.portada-der-linea-white {
    height: 600px;
}

.chartjs-render-monitor {
    border: 1px solid silver;
}

